* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --para-font: 1.2rem;
  --grey-font: #474747;

  --left-padding: 2em;

  --border-color: #E5E7EB;
  --green-color: #596D48;
}

.container {
  display: flex;
}

.left_section {
  flex-basis: 35%;
  position: relative;
}

.right_section {
  flex: 1;
  padding: 6em 0px;
  background-color: rgb(240, 240, 229);
}

.image {
  background-image: url("img/green-leaf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  top: 150px;
  padding: 1em 2em;
  text-align: center;
  font-size: 2rem;
}

.right_section>.description {
  width: 90%;
  padding-bottom: 1.2em;
  padding-right: 8em;
}

.right_section>.description,
.right_section>.description+p {
  font-size: var(--para-font);
  font-weight: 600;
  padding-left: var(--left-padding);
}

form,
input,
label,
legend {
  font: inherit;
}

form {
  margin-top: 2em;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  padding: 2em 50px 2em var(--left-padding);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 11px;
  margin-bottom: 5px;
}

form> :first-child {
  color: var(--grey-font);
  font-weight: 500;
  font-size: var(--para-font);
  width: 100%;
}

.form-group {
  flex-basis: 45%;
}

input {
  width: 60%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  height: 30px;
  padding: 8px;
  font-family: inherit;
}

input:focus {
  border: 1px solid rgb(43, 95, 238);
}

input:user-valid {
  border-color: green;
}
input:user-invalid {
  border-color: rgb(236, 14, 7);
} 

button {
  margin-left: calc(var(--left-padding) + 5px);
  background-color: var(--green-color);
  font-size: 1rem;
  border: none;
  font-weight: 600;
  padding: 0.5em 2em;
  border-radius: 5px;
  color: white;
}

button+p {
  padding-left: var(--left-padding);
  margin-top: 15px;
}

.log-in {
  color: var(--green-color);
}