* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.left_section {
  flex: 1;
  position: relative;
}

.right_section {
  width: 70%;
}

.image {
  background-image: url("img/green-leaf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  top: 150px;
  padding: 1em 2em;
  text-align: center;
  font-size: 2rem;
}